.jumbotron-container {
  width: 800px;
  background-color: white;
  border: 1px solid lightgray;
}

.login-container {
  background-color: white;
}

.signup-container {
  background-color: #1f8ceb;
  color: white;
}

.container {
  height: 450px;
}

.logo-size {
  font-size: 50px;
}

.text-color {
  color: #1f8ceb;
}

.button-color {
  background-color: #1f8ceb;
  width: 100px;
}
