.contacts-container {
  width: 300px;
}

.header-container {
  height: 40px;
}

.user-logo {
  width: 70px;
}

.title-container {
  width: 500px;
  height: 61px;
}

.card-hoverable:hover {
  color: gray;
  background-color: lightgray;
  cursor: pointer;
}

.chats-container {
  width: 500px;
}

.main-container {
  width: 800px;
}

.chat-toast-me {
  position: absolute;
  top: 0;
  right: 0;
}

.chat-toast-you {
  position: absolute;
  top: 200px;
  left: 0;
}

.chat-background {
  position: relative;
  min-height: '200px';
  height: 450px;
}
