.header {
  height: 60px;
  background-color: lightgreen;
}

.chat-container {
  width: 800px;
  height: 550px;
  background-color: lightgray;
}

.chat-sidebar {
  width: 300px;
  height: 440px;
  background-color: lightpink;
}

.chat-main {
  width: 500px;
  height: 400px;
  background-color: lightsalmon;
}

.input-msg {
  height: 60px;
  background-color: lightblue;
}

ul {
  list-style-type: none;
  text-align: left;
}
